@page
@model School.Web.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Crear Estudiante";
}

@if (TempData["OperationResult"] != null)
{
    <div class="alert alert-success">
        @TempData["OperationResult"]
    </div>
}

<h1>Crear</h1>

<h4>Estudiante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.FullName" class="control-label"></label>
                <input asp-for="Student.FullName" class="form-control" />
                <span asp-validation-for="Student.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Documento" class="control-label"></label>
                <input asp-for="Student.Documento" class="form-control" />
                <span asp-validation-for="Student.Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Email" class="control-label"></label>
                <input asp-for="Student.Email" class="form-control" />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
